# dev requirements
-e file:.
black; platform_python_implementation != 'PyPy'
bump2version; platform_python_implementation != 'PyPy'
mypy; platform_python_implementation != 'PyPy'
pre-commit; platform_python_implementation != 'PyPy'
pyflakes
pylint
pytest
pytest-subtests
pytest-xdist
twine; platform_python_implementation != 'PyPy'
